//$black: #1b2b34;

$noise-color: #fff;

$black: #fff8f1;
$black_light: #343d46;
$gray_dark: #4f5b66;
//$gray: #65737e;
$gray: #235f56;
$gray_light: #575b63;
//$white: #c0c5ce;
$white: #2d383a;
$silver: #3d3f42;
$silver_light: #1f2022;
$white_pure: #000000;

$red: #ec5f67;
$orange: #f99157;
//$green: #4d1752;
$yellow: #fac863;
$blue: #6699cc;
$blue_light: #bcdaf7;
$magenta: #c594c5;
$cyan: #62b3b2;

$whitealpha: rgba(0,0,0,0.1);
$whitealpha2: rgba(0,0,0,0.2);
$noise-opacity: 0.05;

//$green_background: #1B2B34;
$green4: #0F545E;
$green3: #008079;
$green2: #45AD80;
$green1: #97D678;


/*
//$green_background: #ffc75d;
$green1: #ff9768;
$green2: #fc6e7f;
$green3: #d05595;
$green4: #8f4da1;
*/