//$black: #1b2b34;
$black: #0D151A;
$black_light: #343d46;
$gray_dark: #4f5b66;
//$gray: #65737e;
$gray: #348F82;
$gray_light: #a7adba;
//$white: #c0c5ce;
$white: #C9F7FF;
$silver: #cdd3de;
$silver_light: #d8dee9;
$white_pure: #ffffff;

$red: #ec5f67;
$orange: #f99157;
//$green: #99c794;
$yellow: #fac863;
$blue: #6699cc;
$blue_light: #bcdaf7;
$magenta: #c594c5;
$cyan: #62b3b2;

$whitealpha: rgba(255,255,255,0.1);
$whitealpha2: #313131;
$noise-opacity: 0.025;
$noise-color: $black;


//$green_background: #1B2B34;
$green1: #0F545E;
$green2: #008079;
$green3: #45AD80;
$green4: #97D678;
